@import url("https://fonts.maateen.me/kalpurush/font.css");

/* General styles for the page */
body {
  margin: 0;
  font-family: "Kalpurush", Arial, sans-serif !important;
  padding: 5px 23px;
  background-image: linear-gradient(
    180deg,
    rgb(164, 198, 199),
    rgba(183, 214, 218, 0.5)
  );
  background-clip: 1;
}

/* Tabs styles */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  margin: 20px 0; /* Adjust margin as needed */
}

.tab button {
  background-color: #f1f1f1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin: 0; /* Remove default margin */
}

.tab button:hover {
  background-color: #91d3cc;
}

.tab button.active {
  background-color: #91d3cc;
}

/* Tab content styles */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Centering the iframe */
.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin: 20px 0; /* Adjust margin as needed */
}

iframe {
  width: 100%;
  max-width: 800px; /* Adjust to desired max width */
  height: 600px; /* Adjust to desired height */
  border: none;
}

/* Table styles */
#list-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  font-weight: 500;
  font-size: 18px;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgba(185, 211, 210, 0.9);
}

/* Header and content styles */
.page-title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin: 20px 0; /* Adjust margin as needed */
}

.date {
  text-align: center;
  font-size: 20px; /* Adjust font size as needed */
}

.date span {
  color: indianred;
}

.body-content {
  font-weight: 500;
  font-size: 19px;
  margin: 20px 0; /* Adjust margin as needed */
}

.google-form-link {
  color: white;
  font-weight: 550;
  font-size: 18px;
  border: 0px solid white;
  background-color: indianred;
  border-radius: 10px;
  padding: 4px;
  text-decoration: none;
}
